

.navbar{
  font-size: large;
  width: 80%;
  background-color: black;
}
.navbar-toggler{
  margin: 20px;
  width: 80%;

}

article{
  text-align: center;
}

img{
  width: 120px;
}

li{
  padding: 20px;
}